# Sensitive data and environment files
email_config.env

# Unnecessary files
new.txt
commit.txt

.vscode/
*.pyc
*.xlsx

# Virtual Environment
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.tox
.coverage
.pytest_cache/